
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="Subhasree" content="" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body class="bg-dark" style="background-image:url('static/images/img/bgregistration.png'); font-family:Candara,Verdana">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4"><img src="{% static 'images/img/logo2.png' %}"  style="height:60px;"/>Join the Climate Conversations</h3></div>
                                      <span style="color:red"> {{message}}</span>
                                    <div class="card-body">
                                        <form id="" action="/adduser" method="POST">
                                           {% csrf_token %}
                                            <div class="form-group">
                                                <label class="small mb-1" >Name</label>
                                                <input onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"  class="form-control py-4" name="name" type="text" placeholder="Enter first name" required/>
                                            </div>
					                                       <div class="form-group">
                                                <label class="small mb-1" >Country of residence</label>
                                                <input class="form-control py-4" onkeypress="return (event.charCode > 64 && 	event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"name="country" type="text" placeholder="Enter country" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" >Email</label>
                                                <input class="form-control py-4" name="email" type="email" aria-describedby="emailHelp" placeholder="Enter email address" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" >Password</label>
                                                <input class="form-control py-4" name="password" minlength="8" type="password" placeholder="Enter password" required/>
                                            </div>
                                            <div class="form-group mt-4 mb-0">
                                                <button class="btn btn-dark btn-block">Register</button>
                                                </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/login">Have an account? Go to login</a></div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="/">Go to Home Page</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

        </div>
        <!-- footer for registration page-->
        <footer class="py-5">
            <div class="container"><div class="text-center" style="color:white;"> Created by Subhasree Vadukoot</div></div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    </body>
</html>
